params {

            outdir = "$baseDir/results"

            gatk38_jar = "$baseDir/resources/GenomeAnalysisTK.jar"

            reads = "$baseDir/data/full_data/*_{R1,R2}*fastq.gz"

            mtbseq_library_name = "somelib"

            mtbseq_project_name= "MonoINH"

            resultsDir_mtbseq_cohort= "$params.outdir/mtbseq/cohort"
        }

docker.enabled = true

process {

            withName:
            "FASTQC*" {
                cpus = 4
                memory = '7 GB'
            }


            withName:
            TRIMMOMATIC {
                cpus = 4
                memory = '7 GB'
            }

            withName:
            "MTBSEQ.*" {
                cpus = 8
                memory = '15 GB'
            }

            withName:
            'TBPROFILER.*' {
                cpus = 8
                memory = '15 GB'
            }

            withName:
            SPADES {
                cpus = 8
                memory = '15 GB'
            }

            withName:
            PROKKA {
                cpus = 8
                memory = '15 GB'
            }

            withName:
            RDANALYZER {
                cpus = 4
                memory = '7 GB'
            }
            withName:
            SPOTYPING {
                cpus = 4
                memory = '7 GB'
            } 
            
            withName:
            QUAST {
                cpus = 8
                memory = '15 GB'
            }

        }
