process {

            withName:
            FASTQC {
                cpus = 4
                memory = '7 GB'
                container = 'quay.io/biocontainers/fastqc:0.11.9--0'
            }


            withName:
            TRIMMOMATIC {
                cpus = 4
                memory = '7 GB'
                container = 'quay.io/biocontainers/trimmomatic:0.35--6'
            }

            withName:
            MTBSEQ_PER_SAMPLE {
                cpus = 8
                memory = '15 GB'
                container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            }

            withName:
            MTBSEQ_COHORT {
                cpus = 8
                memory = '15 GB'
                container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            }

            withName:
            TBPROFILER_PROFILE {
                cpus = 8
                memory = '15 GB'
                container = 'quay.io/biocontainers/tb-profiler:2.8.6--pypy_0'
            }

            withName:
            TBPROFILER_COLLATE {
                cpus = 8
                memory = '15 GB'
                container = 'quay.io/biocontainers/tb-profiler:2.8.6--pypy_0'
            }

            withName:
            MULTIQC {
                cpus 8
                memory "15 GB"
                container = 'quay.io/biocontainers/multiqc:1.9--pyh9f0ad1d_0'
            }

            withName:
            SPADES {
                cpus = 8
                memory = '15 GB'
                container = 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
            } 

            withName:
            PROKKA {
                cpus = 8
                memory = '15 GB'
                container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
            }

            withName:
            RDANALYZER {
                cpus = 4
                memory = '7 GB'
                container = 'quay.io/bioinformatics_playground/rd_analyzer:0.0.1'
            }
            withName:
            SPOTYPING {
                cpus = 4
                memory = '7 GB'
                container = 'quay.io/bioinformatics_playground/spotyping:0.0.1'
            } 
            
            withName:
            QUAST {
                cpus = 8
                memory = '15 GB'
                container = 'quay.io/biocontainers/quast:5.0.2--py37pl526hb5aa323_2'
            }

        }
        
