params {
    outdir = "${baseDir}/results_stub"
    gatk38_jar = "${baseDir}/data/mock_data/GenomeAnalysisTK.jar"
    reads = "${baseDir}/data/mock_data/*_{R1,R2}*fastq.gz"
    mtbseq_library_name = "somelib"
    mtbseq_project_name = "MonoINH"
    results_dir_mtbseq_cohort = "${baseDir}/results_test/mtbseq/"
}

process {
    withName:
    ".*" {
        container = "ubuntu:20.04"
        cpus = 1
        memory = "2 GB"
    }
}
